{% extends 'layout.html.twig' %}

{% block contents %}
    {% if book.image %}
        <img src="{{ app.request.basepath }}/uploads/{{ book.image }}_small.jpg" />
    {% endif %}
    <span class="t">{{ book.titre }} </span><br>
    <em>{{ book.auteur }}</em><br/>
    <p>
    	<b>Nombre d'exemplaires disponibles : </b/>
    		{{ availables|length }} / {{ number.nb }}
    </p>
    <ul>
        {% for book in availables %}
            <li>
                id : {{ book.id }}
            </li>
        {% endfor %}

        {% for book in borrowed %}
            <li>
                id : {{ book.id }} (indisponible)
                <a href="{{ path('giveBack', {id: book.id}) }}">Rendre</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path('borrow', {id: book.id}) }}"><button>Emprunter</button></a>
{% endblock %}
