{% extends 'layout.html.twig' %}

{% block contents %}
    {% if success %}
        <h2>Livre {{ idBook }} emprunté</h2>
        <span class="t">{{ book.titre }} </span><br>
        <em>{{ book.auteur }}</em><br/>
    {% else %}
        <form method="post">
            <b>Votre nom</b>: 
            <input class="form-control" type="text" name="personne" />
            <b>Date de retour</b>:
            <input class="form-control" type="date" name="fin" />
            <br/>
            <input type="submit" class="btn btn-success" value="Emprunter" />
        </form>
    {% endif %}
{% endblock %}
